:root {
    --agridera-green: #4e9b46;
    --agridera-grey-dark: #333333;
    --agridera-grey-light: #999999;
    --serif-font: 'Lora', serif;
    --sans-serif-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--sans-serif-font);
    color: var(--agridera-grey-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4faeb;
}

.serif-font {
    font-family: var(--serif-font);
}

.text-green {
    color: var(--agridera-green) !important;
}

.text-secondary {
    color: var(--agridera-grey-dark) !important;
}

.text-muted {
    color: var(--agridera-grey-light) !important;
}

.fs-7 {
    font-size: 14px;
}