@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
         url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
         url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.header-with-bg {
    background-image: url('../images/header-bg.jpg'); 
    background-size: cover;
    background-position: center;
}

.hero-banner {
    max-height: 300px;
}

.nav-hover:hover {
    text-decoration: underline !important;
}
.border-top-green {
    border-top: 3px solid #8cc63f; 
}

.tomato-card {
    aspect-ratio: 1 / 1;
}